#gundonghead{
    width: 100%;
    position: fixed;
    top: -86px;
    left: 0px;
    z-index: 10000;
}
.gundonghead_logo{
    width: 220px;
    height: 86px;
    @extend %left;
}
.searchfix{
    @extend %left;
}
.gundonghead_t{
    background: #fff;

}
.gundonghead_t .search_wrap {
    width: 625px;
    margin: 12px 0 0 48px;
    margin-top: 18px;
    margin-left: 158px;
.search_c {
    float: left;
    width: 584px;
    height: 38px;
    border: 2px solid #c30000;
    .form {
    position: relative;
    @extend %left;
        p{
            @extend %left;
                margin-top: 11px;
        margin-left: 10px;
        display: block;
        width: 16px;
        height: 16px;
        background: url(../images/index.png) no-repeat -69px -24px;
    
        }
    input{
        outline: none;
    }
    input {
    width: 450px;
    height: 36px;
    padding-left: 8px;
    font: 14px/36px;

    border: none;
}
}
}}
.gundonghead_t .search_wrap .search_c .btn {
    width: 100px;
    height: 38px;
    @extend %right;
    button {
    width: 100px;
    height: 38px;

    font: 18px;
    color: #fff;
    background-color: #c30000;
    border: none;
    cursor: pointer;
}
}