 #loutinav {

        position: fixed;
        top: 160px;
        left: 6px;
        border: 1px solid #ddd;
        display: none;
    }
    
    #loutinav ul li {
       width: 88px;
        height: 32px;
        border-bottom: 1px dotted #DDDDDD;
        list-style: none;
        font-size: 12px;
        text-align: center;
        position: relative;
        cursor: pointer;

        background: #918888;
        color: #fff;
    }
    
    #loutinav ul li span {
        line-height: 32px;
        width: 88px;
        height: 32px;

        position: absolute;
        top: 0;
        left: 0;
    }
    
    #loutinav ul li.last {
        background: #5e4a4a;
        color: #fff;
        border-bottom: 1px solid #ddd;
    }
    
    #loutinav ul li.active span {
        background: #c00;
        color: #fff;
        display: block;
    }
    
    #loutinav ul li:hover span {
        background: #c00;
        color: #fff;
        display: block;
    }