@import "gongy";
@import "header";
#cartlo{
    margin: 10px 0;
}
.cartlogo{
    @extend %left;
}
.cartgif{
    @extend %right;
}
.cartgif ul {
    margin-top: 26px;
   }
.cartgif ul li{
        width: 643px;
    height: 38px;
    background: url(../images/progress.jpg) no-repeat;

}
.mycart_l{
    @extend %left;
    .trip_content {
        height: 36px;
        line-height: 36px;
        float: left;
        color: #898989;
        .tc_left {
            
            float: left;
            height: 36px;
            margin-right: 30px;
            font: 20px "Microsoft YaHei";
            color: #606060;
        }
    }
}
.address {
    line-height: 34px;
    padding-left: 16px;
    @extend %left;
}
.address dt, .address dd {
    float: left;
    height: 34px;
}

.address dt {
    width: 42px;
}
.address dt,.address dd {
    float: left;
    height: 34px;
}
.addr_select .text {
    position: relative;
    z-index: 101;
    width: auto;
    height: 24px;
    margin-top: 6px;
    margin-right: 10px;
    padding: 0 17px 0 5px;
    line-height: 24px;
    background: #fff;
    border: 1px solid #cacaca;
}
.address dt {
    width: 42px;
}
.addr_select s {
    position: absolute;
    top: 10px;
    right: 3px;
    display: block;
    width: 0px;
    height: 0px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #ccc;
}

#mycart .wrapper{
    height: 36px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.mycart_r{
    @extend %right;
}
.cartway li{
    position: relative;
    float: left;
    height: 34px;
    padding: 0 25px;
    text-align: center;
    font: 16px/34px "Microsoft YaHei";
    cursor: pointer;
    color: #7abd54;
    border-bottom: 2px solid #7abd54;
}
.waymoney{
    @extend %right;
    a{
        margin-left: 30px;
        line-height: 26px;
        display:inline-block;
        text-align: center;
        background-color:orangered;
        color: #fff;
        width: 60px;
        height: 26px;
    }
    span{

        em{
            font: normal 14px/1.5em "Microsoft YaHei";
            color: #e9001c;
        }
    }
}
#waybill .wrapper{
       border-bottom: 2px solid #e6e6e6;
       margin-bottom: 20px;
}
.particulars_t ul{
    @extend %clear;
    li{
   @extend %left;
    height: 19px;
    width: 142px;
    text-align: center;
    line-height: 19px;
    color: #3c3c3c;
    font-size: 16px;
}} 
.particulars_t ul .part_first{
    width: 600px;
}
.cart-col{
    @extend %left;
}
.success-footer{
    margin-top: 50px;
    text-align: center;
}
.beian {
    display: inline-block;
    width: 200px;
    img {
        display: inline-block;
        float: left;
    }
    p{
        display: inline-block;
    }
}
.redcolor{
    color:#c81623 !important;
}
#particulars_c{
    margin-top: 18px;
}
.shop{
    height: 30px;
    line-height: 30px;

    font-weight: 700;
    @extend %clear;
    .cart-checkbox {
        float: left;
        
    }
    .shop-ex {
        float: right;
    }
} 
.item-list {
    border-style: solid;
    border-width: 2px 1px 1px;
    border-color: #aaa #f1f1f1 #f1f1f1; 
    background: #fff;
}
.item-head {
    height: 26px;
    padding: 5px 10px;
    overflow: hidden;
}
.item-head .header-left {
    width: 750px;
    line-height: 26px;
    float: left;
}
.header-left-p2 {
    margin-left: 20px;
    padding: 0 5px;
    border-radius: 2px;
    background: #e74649;
    color: white;
    display: inline-block;
    height: 19px;
    line-height: 19px;
}
.header-left-p1 span {
    margin: 0 10px 0 5px;
    padding: 1px 10px;
    border: 1px solid #f48719;
    background: #f48719;
    color: white;
    position: relative;
}
.order_amount {
    padding: 0px 15px 0 5px;
    @extend %clear;
}
.fl{
    float:left;
    }
.ordercont_edit {
    color: #3c3c3c;
     width: 220px;
    height: 60px;
    line-height: 60px;
}
.order_amount .ordercont_edit .ordercont_allcheck {
    margin-right: 20px;
}
.order_amount .ordercont_allcheck input {
    margin: 20px 5px 0 0;
}
.order_amount .ordercont_edit .collect {
    margin-right: 20px;
}
.order_amount .ordercont-sign {
    margin-top: 45px;
    color: #999;
    a {
    color: #e9001c;
}
}
.order_amount .ordam_right {
    float: right;
    width: 310px;
    margin-top: 18px;
    font-family: "Microsoft YaHei";
}
.ordam_right .ordam-item1 {
    margin: 5px 0 0 0;
}
.ordam_right .ordam-money {
    margin: 5px 0 0 0;
    padding-left: 134px;
}
.ordam_right .ordam-fav {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.ordam_right .ordam-money {
    margin: 5px 0 0 0;
    padding-left: 134px;
}
.ordam-item1,.ordam-money,.ordam-money,.ordam-total{
    @extend %clear;
}
.ordam_right .ordam-total {
    margin-top: 10px;
}
.ordam_right .btn {
    position: relative;
    margin-top: 25px;
}
.ordam_right .oar_title {
    color: #3c3c3c;
    font-size: 12px;
}
.ordam_right .oar_weight {
    
    width: 60px;
    color: #999;
    font-size: 12px;
    margin: 0 20px 0 5px;
}
.ordam_right .oar-money {
    width: 110px;
    text-align: right;
    color: #e9001c;
}
.ordam_right .ordam-total .oar-money-total {
    font-size: 18px;
}
.ordam_right .oar-money-total {
    width: 120px;
    text-align: right;
    color: #e9001c;
    float: right;
}
.ordam_right .oar_title-total {
    color: #3c3c3c;
    font-size: 12px;
    float: right;
}
.ordam_right .btn {
    position: relative;
    margin-top: 25px;
}
.ordam_right .btn a {
    display: block;
    float: right;
    width: 170px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    background-color: orangered;
}
.ordam_right .btn a:hover{
    text-decoration: none;
}
.waymoney a:hover{
    text-decoration: none;
}
.content_type {
    @extend %clear;
    margin-top: 10px;
    padding-bottom: 5px;
    background: #fcfcfc;
    border: 1px solid #ccc;
}
.content_type1 .contype1_cont1 {
    
    width: 620px;
    padding: 15px 0 0 20px;
    line-height: 1.8em;
}
.content_type1 .ct1 {
    float: left;
    text-align: center;
    color: #3c3c3c;
}
.content_type1 .contype1_cont1 input {
    margin: 20px 5px 0 0;
}
.contype1_cont1 .img_a {
    width: 62px;
    height: 62px;
    float: left;
    margin: 0 15px 0 10px;
    display: inline;
}
.contype1_cont1 .contype1_cont1_cent {
    width: 330px;
    text-align: left;
}
.content_type1 .contype1_cont2 {
    width: 140px;
    padding-top: 35px;
}

.content_type1 .ct1 {
    float: left;
    text-align: center;
    color: #3c3c3c;
}
.input_goods {
    width: 36px;
    float: left;
    margin: 0px 5px;
    display: inline;
    position: relative;
}
.input_goods input {
    width: 34px;
    height: 21px;
    line-height: 21px;
    border: #e6e6e6 1px solid;
    color: #595757;
    text-align: center;
    padding: 0px;
}
.content_type1 .contype1_cont3 {
    position: relative;
    width: 115px;
    padding: 32px 0 0 25px;
    line-height: 1.8em;
}
.oper_goods {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-top: 1px;
    cursor: pointer;
    background:#Ccc;
    border-radius: 50%;
}
.reduce_g {
    float: left;
    margin-left: 3px;
   display: inline-block;
}
.plus_g {
    float: left;
}
.content_type1 .contype1_cont5 {
    width: 140px;
    padding-top: 35px;
}
.content_type1 .contype1_cont6 {
    
    width: 140px;
    padding-top: 35px;
}
.contype1_cont1 .img_a img{
    
    width: 62px;
    height: 62px;
}
.empty-cart{
    text-align: center;
    height: 98px;
    padding: 80px 0 120px;
    color: #333;
    a{
        margin-top: 15px;
        color: red;
    }
}
.empty-cart-msg {
    
    height: 98px;
    line-height: 20px;
    font-size: 14px;

    padding-top: 25px;
}
.con li {
    width: 240.5px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
}
.con li img {
    transition: all 0.8s;
}

.con dt img {
    position: relative;
    left: 0;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: 6px;
}
.tuijian{
        background: #fcfcfc;
    border: 1px solid #ccc;
        margin-top: 18px;
}
.name {
    width: 200px;
    margin-left: 20px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color: #383838;
    overflow: hidden;
    text-align: center;
}
.price {
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    color: #dd0800;
   text-align: center;
}
.p-btn {
    margin: 10px 0 0;
    text-align: center;
    margin-bottom: 20px;
}
.p-btn a {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border: 1px solid #999;
    color: #666;
    text-align: center;
    border-radius: 3px;
}
.tuijian ul{ 
    @extend %clear;
    li{
    @extend %left;
}}
.p-btn a:hover {
    border: 1px solid #E4393C;
    background: #E4393C;
    color: white;
    text-decoration: none;
}