.headeraddress, .headnav_l, .headnav_l li, .headnav_r ul li, .log_l, .log_l li, .log_r .log_r_l, .log_r .log_r_r, .log_r .gaoj, .sousuo p, .sousuo span, .nav_l_head, .nav_c, .nav_c ul li, .nav_r_btn li, .nav_r_btn_l, .tabbtn > ul li, .tab_img ul li, .gundonghead_logo, .searchfix, .gundonghead_t .search_wrap .search_c .form, .gundonghead_t .search_wrap .search_c .form p, .fl, .commend-pro ul li, .floor-adv li, .floor-r .tit li, .floor-r .con li, .footer_c_l, .footer_c_l ul, .foot_c_line, .footer_c_r {
  float: left; }

img {
  display: block; }

.wrapper {
  width: 1210px;
  margin: 0 auto; }

.headnav_r, .log_r, .nav_r, .nav_r_btn_r, .gundonghead_t .search_wrap .search_c .btn {
  float: right; }

.headnav_r .xl:hover .headsubnav2, .headnav_r .xl:hover .headsubnav1 {
  display: block; }

.wrapper:after, .headsubnav2 ul:after, .log_l:after, .log_r:after, .nav_r_btn:after, .tabbtn > ul:after, .sanjineir ul:after, .wm-toolbar:after, .floor-r .tit:after, .floor-r .con .clearfix:after, .footer_top > ul:after, .footer_goods_sort:after, #foot_c .wrapper:after, .footer-2016:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both; }

a:hover {
  color: #8cb91e;
  text-decoration: underline; }

.advertising img {
  width: 100%;
  height: 100%; }

img {
  display: block; }

#header {
  background-color: #f5f5f5;
  height: 32px;
  line-height: 32px; }

.head_zl {
  padding-left: 15px;
  background: url(../images/index.png) no-repeat -101px 0; }

#header i {
  display: inline-block;
  width: 6px;
  height: 3px;
  margin: 0px 0 0 5px;
  vertical-align: middle;
  background: url(../images/index.png) no-repeat -92px 0;
  overflow: hidden; }

.head_zl a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px 0 14px;
  border: 1px solid #f5f5f5;
  cursor: pointer; }

.headnav_l li {
  margin-right: 10px; }

.xl {
  position: relative;
  z-index: 1003;
  border: 1px solid #f5f5f5; }

.headnav_r ul li a {
  height: 30px;
  line-height: 30px;
  padding: 0 20px 0 14px;
  cursor: pointer; }
  .headnav_r ul li a b {
    display: block;
    float: left;
    width: 11px;
    height: 11px;
    margin: 10px 3px 0 0;
    background: url(../images/index.png) no-repeat -78px 0; }
.headnav_r ul li span {
  width: 43px;
  height: 15px;
  margin: 8px 0 0 12px;
  display: inline-block; }
.headnav_r ul li span:nth-of-type(1) {
  background: url(../images/base.png) no-repeat 0 0; }
.headnav_r ul li span:nth-of-type(2) {
  background: url(../images/base.png) no-repeat 0 -20px; }
.headnav_r ul li span:nth-of-type(3) {
  background: url(../images/base.png) no-repeat -93px -82px; }

.nav_line {
  width: 3px;
  background: #e3dde3;
  height: 11px;
  margin-top: 10px;
  display: inline-block; }

.headnav_r .xl:hover {
  background-color: #fff;
  border: 1px solid #3a9900;
  border-bottom-color: #fff; }
  .headnav_r .xl:hover .headsubnav2 {
    border-top: none; }

.headsubnav2 {
  display: none;
  width: 93px;
  position: absolute;
  top: 30px;
  left: -1px;
  border: 1px solid #3a9900;
  background-color: #fff;
  z-index: 10; }

.headsubnav1 {
  display: none;
  position: absolute;
  width: 192px;
  top: 30px;
  left: -1px;
  border: 1px solid #3a9900;
  padding: 5px;
  background-color: #fff;
  z-index: 101; }

.headsubnav1 ul p:nth-of-type(1) {
  background: none;
  background-color: #fff;
  height: 2px;
  width: 95px;
  position: absolute;
  top: -1px;
  left: 0;
  margin: 0; }

.headsubnav1 ul p:nth-of-type(2) {
  margin-left: 10px; }

.headsubnav1 ul p a {
  color: #3a9900; }

#logo {
  position: static;
  top: -130px;
  width: 100%;
  margin: 35px auto; }

.log_r .gaoj {
  margin: 2px 10px 0 10px;
  line-height: 16px;
  color: #999;
  font-size: 14px !important; }

.sousuo {
  width: 584px;
  height: 38px;
  border: 2px solid #c30000; }
  .sousuo p {
    margin-top: 11px;
    margin-left: 10px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/index.png) no-repeat -69px -24px; }
  .sousuo input[type=text] {
    width: 450px;
    height: 36px;
    margin-left: 6px;
    font: 14px/36px;
    color: #bbb;
    border: none;
    outline: none; }
  .sousuo input[type=button] {
    outline: none;
    width: 102px;
    height: 38px;
    font: 18px;
    color: #fff;
    background-color: #c30000;
    border: none; }

.sousuox {
  height: 18px;
  padding-top: 8px;
  overflow: hidden; }
  .sousuox a {
    margin-right: 18px;
    color: #757575; }

.nav_l_head {
  width: 210px;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #2d8800; }

#nav {
  position: relative;
  height: 46px;
  border-bottom: 2px solid #318700;
  z-index: 999; }

.nav_c ul li a {
  display: inline-block;
  height: 38px;
  margin: 5px 0 3px 0px;
  padding: 0 11px;
  font: 16px/38px "Microsoft YaHei";
  text-align: center;
  color: #383838; }

.nav_c ul li a:hover {
  text-decoration: none;
  color: #8cb91e; }

.subnav > li > p {
  padding: 0 19px 0 19px;
  height: 39px; }

.subnav {
  position: absolute;
  top: 48px;
  width: 210px;
  height: 410px;
  padding: 12px 0 28px 0;
  background-color: #3ea600; }
  .subnav li p b {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    margin: 6px 16px 0 0;
    background-position: 0 0;
    background-image: url(http://pic3.womai.com/upload/backend/2018/02/24/16/1519460866192.png); }
  .subnav li p a {
    width: 172px;
    height: 32px;
    margin-right: 2px;
    line-height: 32px;
    font-size: 14px;
    overflow: hidden;
    color: #fff; }
  .subnav li:nth-of-type(2) p b {
    background-image: url(http://pic1.womai.com/upload/backend/2018/02/24/14/1519454064424.png); }
  .subnav li:nth-of-type(3) p b {
    background-image: url(http://pic3.womai.com/upload/backend/2018/02/24/14/1519454070045.png); }
  .subnav li:nth-of-type(4) p b {
    background-image: url(http://pic2.womai.com/upload/backend/2018/02/24/14/1519454078081.png); }
  .subnav li:nth-of-type(5) p b {
    background-image: url(http://pic2.womai.com/upload/backend/2018/02/24/14/1519454085254.png); }
  .subnav li:nth-of-type(6) p b {
    background-image: url(http://pic2.womai.com/upload/backend/2018/02/24/14/1519454094998.png); }
  .subnav li:nth-of-type(7) p b {
    background-image: url(http://pic2.womai.com/upload/backend/2018/02/24/14/1519454101442.png); }
  .subnav li:nth-of-type(8) p b {
    background-image: url(http://pic3.womai.com/upload/backend/2018/02/24/14/1519454107158.png); }
  .subnav li:nth-of-type(9) p b {
    background-image: url(http://pic1.womai.com/upload/backend/2018/02/24/14/1519454111926.png); }
  .subnav li:nth-of-type(10) p b {
    background-image: url(http://pic2.womai.com/upload/backend/2018/02/24/14/1519454116904.png); }
  .subnav li:nth-of-type(11) p b {
    background-image: url(http://pic1.womai.com/upload/backend/2018/02/24/16/1519460922080.png); }

.subnav li p:hover {
  background-color: #fff; }
  .subnav li p:hover a {
    color: #3ea600; }
  .subnav li p:hover b {
    background-position: -18px 0; }

.nav_r {
  position: relative; }

.nav_r_btn {
  display: inline;
  position: absolute;
  top: -3px;
  right: 0px;
  width: 180px;
  height: 18px;
  padding: 9px 10px 16px;
  margin: 5px 1px 1px;
  line-height: 22px;
  text-align: center;
  color: #098A00;
  cursor: pointer; }
  .nav_r_btn li {
    margin-left: 15px; }

.nav_r_btn_l {
  margin-left: 55px;
  display: inline-block;
  width: 27px;
  height: 20px;
  vertical-align: middle;
  background: url(../images/index.png) no-repeat -47px 0; }
  .nav_r_btn_l i {
    position: absolute;
    left: 76px;
    top: -8px;
    width: 25px;
    height: 20px;
    font: 12px/16px;
    background: url(../images/index.png) no-repeat -10px -40px;
    text-align: center;
    font-style: normal;
    color: #fff;
    overflow: hidden; }

.nav_r_btn_r {
  width: 10px;
  height: 6px;
  margin: 10px 18px 0 5px;
  background: url(../images/index.png) no-repeat 0 -40px;
  overflow: hidden; }

#nav .wrapper {
  position: relative; }

.tab {
  position: absolute;
  top: 43px;
  right: 0;
  width: 203px;
  height: 450px;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #ddd; }

.tabbtn > ul li {
  width: 65.5px;
  height: 29px;
  padding: 0 1px;
  line-height: 29px;
  color: #3c3c3c;
  text-align: center;
  border-bottom: 2px solid #fff;
  background-color: #F7F7F7;
  cursor: pointer; }

.tabbtn > ul > li.active {
  color: #0D8700;
  border-bottom: 2px solid #2d8800;
  background-color: #fff; }

.tabneir {
  display: none;
  padding: 6px 16px;
  height: 75px; }

.tabdot {
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 0 8px 8px;
  background-color: #4d4d4d;
  overflow: hidden;
  vertical-align: bottom; }

.tab_img {
  border-top: 1px solid #ddd;
  display: block; }

.tab_img ul li {
  width: 66.6px;
  height: 60px;
  border-bottom: 1px dotted #ddd;
  border-right: 1px dotted #ddd;
  overflow: hidden;
  text-align: center; }

.nav_r:hover .nav_r_btn {
  top: 1px;
  z-index: 105;
  height: 22px;
  margin: 0;
  border: 1px solid #3a9901;
  border-bottom: none;
  background-color: #fff; }
.nav_r:hover .nav_r_subnav {
  display: block; }

.nav_r_subnav {
  display: none;
  position: absolute;
  top: 48px;
  right: 0px;
  z-index: 104;
  width: 343px;
  padding: 15px 0px 8px 15px;
  background-color: #fff;
  border: 1px solid #3a9901;
  overflow: hidden; }

.nav_r_subnav .free {
  line-height: 20px;
  text-align: center; }
  .nav_r_subnav .free span img {
    display: block;
    margin: 0 auto; }

.nav_r_subnav .free span {
  display: inline-block;
  width: 100%;
  height: 46px;
  margin-bottom: 6px;
  background: url(../images/cart-no.jpg) no-repeat center; }

.subnav > li {
  position: relative; }

.sanjinav {
  position: absolute;
  top: -12px;
  left: 210px;
  z-index: 30;
  display: none; }

.sanjineir {
  width: 757px;
  height: 419px;
  padding: 30px 15px 0 15px;
  border-right: 1px solid #3a9900;
  border-bottom: 1px solid #3a9900;
  background-color: #fff;
  overflow-y: auto; }

.subnav > li:hover .sanjinav {
  display: block; }

.sub_head {
  position: relative;
  float: left;
  width: 86px;
  height: 22px;
  font: bold 13px/22px;
  color: #333;
  padding: 6px 20px 6px 0;
  text-align: right; }

.sub_cont {
  float: left;
  width: 580px;
  line-height: 30px;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 9px;
  margin-bottom: 3px;
  border-bottom: 1px solid #eaeaea; }

.sub_cont .sub_kind {
  float: left;
  height: 16px;
  margin: 5px 0;
  line-height: 16px;
  border-left: 1px solid #dedede; }
  .sub_cont .sub_kind a {
    padding: 0 5px; }

#banner > div {
  width: 100%;
  height: 450px;
  background: url(http://pic.womai.com/pic/sale/2018/selfimages/0502/selfrollbk-0502.png) center top no-repeat; }
  #banner > div img {
    width: 800px;
    height: 450px;
    margin: 0 auto; }

.banner_c {
  position: relative;
  width: 800px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden; }

.banner_c ol {
  position: absolute;
  top: 400px;
  left: 50%;
  width: 310px;
  margin-left: -155px; }
  .banner_c ol li {
    border-radius: 50%;
    float: left;
    width: 21px;
    height: 21px;
    margin: 0 5px;
    background: #fff;
    cursor: pointer; }

.banner_c ol li.active {
  background: #3ea600; }

.banner_c > a {
  position: absolute;
  visibility: hidden;
  top: 50%;
  margin-top: -31px;
  width: 28px;
  height: 62px;
  font: 400 22px/62px simsun;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  pointer-events: auto; }

.left {
  left: 0px; }

.right {
  right: 0px; }

.float-nav {
  background: url(http://pic.womai.com/pic/sale/2018/selfimages/0502/floatbk-0502.png) no-repeat top center;
  padding-top: 85px;
  width: 191px;
  margin-left: -740px; }

.float-nav ul {
  background: none;
  padding-left: 56px; }

.float-nav ul li {
  width: 74px;
  height: 35px;
  border-bottom: none; }

.float-nav ul li a, .float-nav ul li span, .float-nav ul li b {
  width: 80px;
  padding: 0; }

.float-nav ul li b {
  padding: 5px 0 0 0;
  color: #fff;
  height: 26px; }

.float-nav ul li a:hover, .float-nav ul li.hover a:hover, .float-nav ul li.hover a:hover b, .float-nav ul li.curr {
  background: #cd2423; }

.selfactive {
  width: 100%;
  margin: 0px; }

#chj_zdy {
  width: 100%;
  height: 763px;
  background: url(http://pic.womai.com/pic/sale/2018/selfimages/0502/selfbk-0425.png) center no-repeat; }

#chj_zdy img {
  float: left; }

#chj_zdy a:hover img {
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80); }

.selfMainPart {
  width: 1210px;
  height: 547px;
  padding-top: 190px;
  margin-left: -605px;
  left: 50%;
  display: block;
  position: absolute; }

.selftLeftAdPart {
  height: 547px;
  float: left; }

.selfRightAdPart {
  float: left;
  padding-left: 5px; }

.f5list a {
  display: block;
  width: 196px;
  height: 196px;
  margin-bottom: 20px;
  float: left; }

.f5list img {
  padding: 3px; }

.f3list img {
  padding: 2px; }

body.thousand .selfactive {
  width: 100%; }

body.thousand #chj_zdy {
  height: 663px;
  background: url(http://pic.womai.com/pic/sale/2018/selfimages/0502/selfbk-0425.png) center no-repeat; }

.thousand .selftLeftAdPart {
  height: 446px;
  width: 182px; }

body.thousand .selfMainPart {
  width: 1000px;
  height: 454px;
  padding-top: 175px;
  margin-left: -496px;
  left: 50%;
  display: block;
  position: absolute; }

body.thousand .selftLeftADPart img {
  width: 185px; }

body.thousand .f5list img {
  width: 158px;
  padding: 2px; }

body.thousand .f3list img {
  padding: 1px;
  width: 268px; }

body.thousand .selfProPart img {
  width: 247px; }

.wm-toolbar {
  position: fixed;
  top: 0;
  z-index: 9999999;
  right: -276px;
  width: 310px;
  color: #fff; }

.toolbar-left {
  position: relative;
  _position: absolute;
  left: 0;
  float: left;
  width: 34px;
  background: #000; }
  .toolbar-left .wm-toolbar-top {
    position: absolute;
    left: 0;
    width: 34px;
    height: 216px;
    font: 12px/1.2 "Microsoft YaHei"; }
    .toolbar-left .wm-toolbar-top .wm-toolbar-hd {
      width: 18px;
      height: 88px;
      padding: 10px 8px;
      text-align: center;
      overflow: hidden;
      cursor: pointer; }
    .toolbar-left .wm-toolbar-top .wm-toolbar-footer {
      position: absolute;
      left: 0;
      bottom: 0; }
  .toolbar-left .wm-toolbar-footer {
    position: absolute;
    left: 0;
    bottom: 0; }

.pop-up {
  position: absolute;
  left: 34px;
  width: 276px;
  height: 100%;
  background: #e6e6e6;
  overflow: hidden; }

.wm-toolbar-hd em {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/cart.jpg) no-repeat; }

.cart em {
  background-position: -178px -8px; }

.cart span {
  display: inline-block;
  height: 16px;
  margin: 8px auto 0;
  padding: 0 3px;
  line-height: 16px;
  border-radius: 3px;
  background: #3da700;
  color: #fff; }

.wm-toolbar-footer li {
  position: relative;
  height: 34px;
  width: 34px;
  margin-top: 6px;
  line-height: 34px;
  cursor: pointer; }

.wm-toolbar-footer li em {
  display: inline-block;
  background: url(../images/cart.jpg) no-repeat; }

.wm-toolbar-footer li em {
  height: 34px;
  width: 34px;
  cursor: pointer;
  overflow: hidden; }

.wm-toolbar-footer li span {
  position: absolute;
  right: 34px;
  height: 34px;
  width: 58px;
  padding-left: 12px;
  line-height: 34px;
  background: #3da700;
  display: none;
  overflow: hidden; }

.wm-toolbar-footer li em.accoun {
  background-position: -34px 0; }

.wm-toolbar-footer li em.recharge {
  background-position: -68px 0; }

.wm-toolbar-footer li em.qr {
  background-position: -102px 0; }

.wm-toolbar-footer li em.go-top {
  background-position: -136px 0; }

.wm-toolbar-footer li:hover span {
  display: block; }

.wm-toolbar-footer li a {
  color: #fff !important; }

.wm-toolbar-footer li.qr-img span, .wm-toolbar-footer li.qr-img span img {
  width: 100px;
  height: 100px; }

li.qr-img span img {
  width: 100px;
  height: 100px; }

.wm-toolbar-footer .qr-img:hover span {
  bottom: -20px;
  right: 30px;
  padding: 75px 29px 97px 25px;
  background: url(../images/2weimaborder.png) no-repeat; }

#gundonghead {
  width: 100%;
  position: fixed;
  top: -86px;
  left: 0px;
  z-index: 10000; }

.gundonghead_logo {
  width: 220px;
  height: 86px; }

.gundonghead_t {
  background: #fff; }

.gundonghead_t .search_wrap {
  width: 625px;
  margin: 12px 0 0 48px;
  margin-top: 18px;
  margin-left: 158px; }
  .gundonghead_t .search_wrap .search_c {
    float: left;
    width: 584px;
    height: 38px;
    border: 2px solid #c30000; }
    .gundonghead_t .search_wrap .search_c .form {
      position: relative; }
      .gundonghead_t .search_wrap .search_c .form p {
        margin-top: 11px;
        margin-left: 10px;
        display: block;
        width: 16px;
        height: 16px;
        background: url(../images/index.png) no-repeat -69px -24px; }
      .gundonghead_t .search_wrap .search_c .form input {
        outline: none; }
      .gundonghead_t .search_wrap .search_c .form input {
        width: 450px;
        height: 36px;
        padding-left: 8px;
        font: 14px/36px;
        border: none; }

.gundonghead_t .search_wrap .search_c .btn {
  width: 100px;
  height: 38px; }
  .gundonghead_t .search_wrap .search_c .btn button {
    width: 100px;
    height: 38px;
    font: 18px;
    color: #fff;
    background-color: #c30000;
    border: none;
    cursor: pointer; }

.recommend-pro h2 dt {
  font-size: 20px;
  color: #383838; }

.recommend-pro h2 {
  height: 46px;
  line-height: 46px;
  border-bottom: 2px solid #4bae00;
  overflow: hidden; }

.recommend-pro h2 dd.fl {
  margin-left: 20px;
  padding: 14px 0; }

.recommend-pro h2 dd {
  font-size: 14px;
  color: #757575;
  line-height: 18px; }

.fl {
  float: left; }

.recommend-pro h2 dd.fl img {
  width: 216px;
  height: 18px; }

.madden-pro a img {
  height: 320px;
  width: 242px; }

.aImg {
  height: 400px;
  position: absolute;
  width: 242px;
  left: -242px;
  transition: all 0.5s; }

.verticaImg {
  float: left;
  height: 320px;
  position: relative;
  width: 242px; }

.verticabox {
  position: relative;
  float: right;
  width: 972px;
  height: 320px;
  margin-right: -5px;
  overflow: hidden; }

.madden-today .madden-pro ul {
  position: absolute;
  height: 320px;
  overflow: hidden; }

.verticabox > a {
  color: #fff;
  font-size: 50px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  margin-top: -25px;
  text-decoration: none; }

.verticabox .recommend_left {
  left: 0; }

.verticabox .recommend_right {
  right: 0; }

.madden-today .madden-pro li {
  position: relative;
  float: left;
  width: 238px;
  height: 320px;
  border-right: 5px solid #ededed; }

.madden-today .madden-pro li .imgChange {
  display: block;
  width: 238px;
  height: 220px;
  overflow: hidden; }

.madden-today .madden-pro li img {
  height: 180px;
  width: 180px;
  margin: 20px 0 0 29px;
  transition: all 1s; }

.madden-today .madden-pro li img:hover {
  transform: scale(1.2); }

.inforBox {
  width: 203px;
  height: 80px;
  padding: 10px 17px 10px 18px;
  background: #f1f7f4;
  overflow: hidden; }

.inforBox p {
  width: 100%;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  overflow: hidden; }

.buy-btn {
  width: 100%;
  height: 30px;
  padding-top: 4px;
  overflow: hidden; }

.buy-btn span {
  line-height: 30px;
  font-size: 20px;
  color: #de0801; }

.buy-btn a {
  float: right;
  width: 80px;
  height: 26px;
  margin-top: 2px;
  line-height: 26px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: orange;
  overflow: hidden; }

.adv2 {
  width: 485px;
  overflow: hidden; }

.adv2 ul {
  width: 486px; }

.adv2 li {
  float: left;
  width: 242px;
  height: 210px;
  border-right: 1px solid #ededed; }

.commend-pro .firstBig {
  width: 484px;
  height: 320px;
  overflow: hidden; }

.commend-pro li {
  width: 242px;
  height: 320px;
  overflow: hidden; }
  .commend-pro li img {
    transition: all 0.5s; }

.commend-pro li:hover img {
  margin-left: -10px; }

.floor-adv {
  margin-top: 30px;
  overflow: hidden; }

.floor-adv li {
  width: 403px;
  height: 110px;
  overflow: hidden; }

.floor-l .con {
  background: #a1c0f6; }

#classify {
  margin-top: 14px;
  overflow: hidden; }

.floor-l h3 {
  position: relative;
  height: 38px;
  padding-left: 15px;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px; }

.floor-l h3 i {
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 5px;
  height: 20px;
  background-color: #88A9E2; }

.floor-l h3 {
  color: #88A9E2; }

.floor-l .con {
  position: relative;
  padding-top: 50px; }

.floor-l .con span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 56px;
  height: 20px;
  padding: 10px 0 34px 8px;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  background: url(../images/floor_icon.png) no-repeat;
  cursor: pointer; }

.floor-l ul {
  width: 200px;
  height: 110px;
  padding-bottom: 9px;
  margin-left: 21px;
  border-bottom: #000 1px solid; }

.floor-l li {
  position: relative;
  float: left;
  width: 75px;
  height: 36px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 36px;
  overflow: hidden; }

.floor-l li i {
  position: absolute;
  top: 7px;
  left: 0;
  display: inline-block;
  width: 22px;
  height: 22px; }

.pic:hover .aImg {
  left: 242px; }

.floor-l li a:hover {
  color: #1d232d; }

.floor-r {
  display: block;
  width: 968px; }

.floor-r .tit {
  display: block;
  height: 36px;
  margin: 0 0 2px 30px;
  font-size: 16px;
  line-height: 36px;
  color: #434343; }

.floor-r .tit li {
  height: 36px;
  margin-right: 30px;
  padding: 0 5px;
  text-align: center;
  color: #383838;
  overflow: hidden; }

.floor-r .con {
  border-top: 1px solid #a1c0f6;
  position: relative;
  width: 968px;
  display: none; }

.floor-r div.con_l {
  display: block; }

.floor-r .con .clearfix {
  overflow: auto; }

.floor-r .tit .cur {
  border-bottom: 2px solid #a1c0f6;
  color: #434343; }

.floor-r .con li {
  width: 241px;
  height: 250px;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  overflow: hidden; }

.floor-r .con dt img {
  position: relative;
  left: 0;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  margin-top: 6px; }

.floor-r .con li img {
  transition: all 0.8s; }

.floor-r .con li img:hover {
  left: 20px; }

.floor-r .name {
  width: 200px;
  margin-left: 20px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #383838;
  overflow: hidden; }

.floor-r .price {
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  color: #dd0800; }
  .floor-r .price > span {
    margin-left: 20px; }
    .floor-r .price > span span {
      font-size: 20px; }

.floor-r .first {
  margin-right: 484px; }

.floor-r .adv {
  position: absolute;
  top: 0;
  left: 242px;
  width: 482px;
  height: 250px;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  overflow: hidden; }

.floor-r .adv ul {
  position: absolute; }

.floor-r .adv ul li {
  float: left;
  width: 483px;
  height: 250px;
  overflow: hidden; }

.floor-r .adv > a {
  position: absolute;
  top: 50%;
  margin-top: -38px;
  visibility: hidden;
  color: #fff;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  text-decoration: none; }

.adv_left {
  left: 0; }

.adv_right {
  right: 0; }

.slider-num {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -31px;
  z-index: 2;
  height: 21px;
  text-align: center; }

.floor-r .adv ol li {
  float: left;
  width: 21px;
  height: 21px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer; }

.floor-r .adv ol .hover {
  background: #3EA600; }

#loutinav {
  position: fixed;
  top: 160px;
  left: 6px;
  border: 1px solid #ddd;
  display: none; }

#loutinav ul li {
  width: 88px;
  height: 32px;
  border-bottom: 1px dotted #DDDDDD;
  list-style: none;
  font-size: 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: #918888;
  color: #fff; }

#loutinav ul li span {
  line-height: 32px;
  width: 88px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0; }

#loutinav ul li.last {
  background: #5e4a4a;
  color: #fff;
  border-bottom: 1px solid #ddd; }

#loutinav ul li.active span {
  background: #c00;
  color: #fff;
  display: block; }

#loutinav ul li:hover span {
  background: #c00;
  color: #fff;
  display: block; }

.footer_top > ul {
  border-left: 1px solid #ededed; }

.footer_goods {
  float: left;
  width: 240.8px;
  height: 364px;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed; }

.footer_top {
  margin-top: 45px;
  border-top: 2px solid #3ea600; }

.footer_goods h3 {
  height: 82px;
  font-weight: bold;
  padding: 0 18px;
  font-size: 16px;
  line-height: 82px;
  text-align: center;
  cursor: pointer;
  overflow: hidden; }
.footer_goods span {
  width: 100%; }
  .footer_goods span img {
    margin: 0 auto; }

.footer_goods_sort {
  height: 125px;
  margin-top: 25px;
  padding-left: 34px;
  overflow: hidden; }
  .footer_goods_sort li {
    float: left;
    width: 95px;
    margin-right: 8px;
    height: 26px;
    line-height: 26px;
    overflow: hidden; }

#foot_c {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 2px solid #e7e7e7;
  background: #f7f7f7; }

.footer_c_l {
  margin-left: 66px; }

.mode {
  position: relative;
  float: left;
  width: 144px; }
  .mode h3 {
    height: 26px;
    margin-bottom: 5px;
    line-height: 26px;
    font-size: 16px; }
    .mode h3 a {
      font-weight: bolder;
      line-height: 26px;
      font-size: 16px; }
  .mode .cont {
    color: #606060;
    height: 130px; }
    .mode .cont li {
      height: 24px;
      line-height: 24px;
      color: #9c9c9c;
      overflow: hidden; }

.foot_c_line {
  display: block;
  width: 1px;
  height: 78px;
  background: #e9e9e9;
  margin-right: 70px; }

.footer_c_r {
  width: 284px; }

.ervma dl {
  position: relative;
  margin-right: 45px;
  width: 86px;
  height: 122px;
  display: inline-block; }
.ervma dt {
  position: absolute;
  top: 0;
  left: -22px;
  width: 130px;
  height: 18px;
  margin-bottom: 18px;
  font-size: 16px;
  color: #c60001;
  text-align: center;
  overflow: hidden; }
.ervma dd {
  position: relative;
  top: 36px; }

.about_wrap {
  padding: 25px 0 30px 0;
  margin-top: 45px;
  border-top: 2px solid #3ea600;
  background: #fff; }

.about_wrap .links {
  height: 22px;
  line-height: 22px;
  color: #989898;
  overflow: hidden;
  text-align: center; }
  .about_wrap .links a {
    font-size: 14px;
    color: #606060; }
  .about_wrap .links span {
    padding: 18px; }

.footer-2016 {
  width: 790px;
  margin: 28px auto 0; }
  .footer-2016 .fl {
    float: left; }

.copyright div {
  height: 22px;
  line-height: 22px;
  color: #989898;
  overflow: hidden; }

.footer-2016 .pic img {
  width: 200px;
  height: 50px;
  margin-right: 20px; }

.beian i {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(../images/bottomicon.png) -114px 0px no-repeat; }
.beian p {
  float: left;
  margin: 0px 0px 0px 5px;
  color: #989898; }

.footimg .cert {
  display: block;
  width: 112px;
  height: 41px;
  background: url(../images/bottomicon.png) 0px 0px no-repeat;
  margin: 0 auto; }

body {
  position: relative; }

/*# sourceMappingURL=index.css.map */
